/* Styling for the section title */
.booked-rooms-title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .title-text {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  
  /* Styling for the booked rooms container */
  .booked-rooms-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  /* Styling for each booked room card */
  .single-destination-card {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px; /* Added border radius */
  }
  
  
  /* Styling for the card information */
  .card-info {
    padding: 10px;
  }
  
  .card-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card-info h3 {
    font-size: 18px;
    margin: 8px 0;
    color: #555;
  }
  
  .card-info h4 {
    font-size: 16px;
    margin: 8px 0;
    color: #777;
  }
  
  /* Styling for the cancel button */
  .cancel-button {
    display: inline-flex;
    align-items: center;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .cancel-button:hover {
    background-color: #e24c4c;
  }
  
  .icon {
    margin-left: 6px;
  }
  